@model CarsInsideGarage.Models.ViewModels.GarageCreateViewModel

@{
    ViewData["Title"] = "Create Garage";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <partial name="_GarageFormPartial" model="Model" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
