@model CarsInsideGarage.Models.ViewModels.GarageCreateViewModel

<div class="card shadow p-4">
    <h3 class="text-white mb-4">Create New Garage</h3>
    <form asp-action="Create" class="needs-spinner">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Garage Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3 text-start">
            <label asp-for="Capacity" class="form-label text-muted small fw-bold">Capacity</label>
            <div class="input-group">
                <span class="input-group-text bg-dark border-secondary text-accent">#</span>
                <input asp-for="Capacity"
                       type="number"
                       step="1"
                       min="1"
                       class="form-control"
                       onfocus="this.select();" />
            </div>
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SelectedArea" class="form-label">City Area</label>
            <select asp-for="SelectedArea" asp-items="Html.GetEnumSelectList<CarsInsideGarage.Data.Enums.Area>()" class="form-select">
                <option value="">-- Choose Area --</option>
            </select>
            <span asp-validation-for="SelectedArea" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ParkingCoordinates" class="form-label">Coordinates</label>
            <input asp-for="ParkingCoordinates" class="form-control" placeholder="e.g. 42.697, 23.321" />
            <span asp-validation-for="ParkingCoordinates" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ParkingFeeId" class="form-label">Fee Structure</label>
            <select asp-for="ParkingFeeId" asp-items="@Model.Fees" class="form-select">
                <option value="">-- Select Rates --</option>
            </select>
            <span asp-validation-for="ParkingFeeId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-register w-100 mt-3">
            <span class="spinner-border spinner-btn" role="status"></span>
            Establish Garage
        </button>
    </form>
</div>